.gallery {
  height: 175vh;
  overflow: hidden;
  // background: #6d6b4f;
  // background: rgb(45, 45, 45);
  .galleryWrapper {
    position: relative;
    top: -12.5vh;
    height: 200vh;
    display: flex;
    gap: 2vw;
    padding: 2vw;
    .column {
      &:nth-of-type(1) {
        top: -80%;
      }

      &:nth-of-type(2) {
        top: -130%;
      }

      &:nth-of-type(3) {
        top: -50%;
      }
      &:nth-of-type(4) {
        top: -120%;
      }

      position: relative;
      height: 100%;
      width: 25%;
      min-width: 250px;
      display: flex;
      flex-direction: column;
      gap: 2vw;
      white-space: nowrap;
      .imageContainer {
        position: absolute;
        height: 33%;
        width: 100%;
        position: relative;
        border-radius: 1vw;
        overflow: hidden;
        img {
          object-fit: cover;
        }
      }
    }
  }
}
.spacer {
  height: 100vh;
}
